a.lifestyle {
    color: #00bfff;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-align: center;
}
.site-navigation>li>a {
    color: #808080;
    font-size: 14px;
    text-align: center;
}
figcaption {
    color: #c0c0c0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 3;
}
h3 {
    color: #808080;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
figcaption {
    color: #c0c0c0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 3;
}
button {
    color: #c0c0c0;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}